In [1]:
import pandas as pd
import numpy as np

from dotenv import load_dotenv

load_dotenv()

True

In [ ]:
# Import dataset gender, age, industries
df = pd.read_csv("../data/raw/billionaires.csv", usecols=["personName", "age", "industries", "gender"])
df

                  personName   age             industries gender
0                  Elon Musk  51.0             Automotive      M
1                 Jeff Bezos  59.0             Technology      M
2              Larry Ellison  78.0             Technology      M
3             Warren Buffett  92.0  Finance & Investments      M
4                 Bill Gates  67.0             Technology      M
...                      ...   ...                    ...    ...
1807               Yan Junxu  53.0          Manufacturing      M
1808   Yi Xianzhong & family  63.0             Healthcare      M
1809                 Yu Rong  51.0             Healthcare      M
1810           Zhang Gongyun  60.0          Manufacturing      M
1811  Zhang Guiping & family  71.0            Real Estate      M

[1812 rows x 4 columns]

In [3]:
# Missing
rows_with_missing = df[df.isnull().any(axis=1)]
rows_with_missing

           personName  age             industries gender
359   Marcos Galperin  NaN             Technology      M
842        Pan Laican  NaN        Food & Beverage      M
872      Jianping Lai  NaN        Food & Beverage      M
875         Li Haiyan  NaN        Food & Beverage      F
968      Lam Wai-ying  NaN          Manufacturing      F
975        Melissa Ma  NaN             Technology      F
1055  Chen Qiongxiang  NaN                 Energy      F
1078   Shao Jianxiong  NaN                 Energy      M
1148     Chen Kaichen  NaN          Manufacturing      M
1172            Lu Di  NaN             Technology      M
1232    Kim Jae-young  NaN  Media & Entertainment      M
1339         Tan Lili  NaN        Food & Beverage      F
1341         Tang Rui  NaN             Technology      M
1354       Xu Zhenhua  NaN  Media & Entertainment      M
1358      Justin Yuan  NaN  Media & Entertainment      M
1360       Zhang Hong  NaN                 Energy      F
1497     Charlwin Mao  NaN       Fashion & Retail      M
1539      Zong Yanmin  NaN          Manufacturing      M
1619        Wang Fuji  NaN             Healthcare      M
1651      Cai Hongbin  NaN             Healthcare      M
1660      Cho Jyh-jer  NaN             Technology      M
1673   Cristina Green  NaN       Fashion & Retail      F
1674     Philip Green  NaN       Fashion & Retail      M
1787     RÃ©al Plourde  NaN       Fashion & Retail      M

In [4]:
# Fill missing
df.loc[359, "age"] = 52
df.loc[1232, "age"] = 51
df.loc[1673, "age"] = 74
df.loc[1674, "age"] = 65

In [5]:
mean_age = int(df["age"].mean())
df['age'] = df['age'].fillna(mean_age)
rows_with_missing = df[df.isnull().any(axis=1)]
rows_with_missing

Empty DataFrame
Columns: [personName, age, industries, gender]
Index: []

In [6]:
df['age'] = df['age'].astype(int)

In [7]:
df.dtypes

personName    object
age            int64
industries    object
gender        object
dtype: object

In [8]:
# To csv
df.to_csv("C:/Users/keita/git/DataVis/data/processed/billionaires.csv", index= False)