In [1]:
import pandas as pd
import country_converter as coco
import numpy as np

from dotenv import load_dotenv

load_dotenv()

True

## Billionaires count

In [2]:
# Import billionaires

df_billionaires_birth = pd.read_csv("C:/Users/keita/git/DataVis/data/raw/Country_of_birth.csv", usecols=["Country of birth"])
df_billionaires_all = pd.read_csv("C:/Users/keita/git/DataVis/data/raw/Billionaires Statistics Dataset.csv")
df_billionaires_all = df_billionaires_all[df_billionaires_all["selfMade"] == True]
df_billionaires_all.reset_index(drop=True, inplace=True)
df_billionaires_birth.reset_index(drop=True, inplace=True)
merged_df = pd.concat([df_billionaires_all, df_billionaires_birth], axis=1)
merged_df

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country,Country of birth
0,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.09024,-95.712891,South Africa
1,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.09024,-95.712891,United States
2,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.09024,-95.712891,United States
3,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.09024,-95.712891,United States
4,6,104000,Technology,Bill Gates,67.0,United States,Medina,Microsoft,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.09024,-95.712891,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1807,2540,1000,Manufacturing,Yan Junxu,53.0,China,Taicang,Manufacturing,Manufacturing,China,...,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.86166,104.195397,China
1808,2540,1000,Healthcare,Yi Xianzhong & family,63.0,China,Guangzhou,Pharmaceuticals,Healthcare,China,...,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.86166,104.195397,China
1809,2540,1000,Healthcare,Yu Rong,51.0,China,Shanghai,Health clinics,Healthcare,China,...,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.86166,104.195397,China
1810,2540,1000,Manufacturing,Zhang Gongyun,60.0,China,Gaomi,Tyre manufacturing machinery,Manufacturing,China,...,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.86166,104.195397,China
1811,2540,1000,Real Estate,Zhang Guiping & family,71.0,China,Nanjing,Real estate,Real Estate,China,...,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.86166,104.195397,China

In [3]:
# to csv for used billionaires
merged_df.to_csv("C:/Users/keita/git/DataVis/data/processed/billionaires.csv", index=False)

In [4]:
# Compute number of billionaires

merged_df = merged_df[merged_df["Country of birth"] == merged_df["country"]]
df_grouped = merged_df.groupby('Country of birth').agg(
    billionaires_count=('personName', 'count'),
)
df_grouped = df_grouped.reset_index()
df_grouped["Country of birth"] = df_grouped["Country of birth"].apply(lambda x: coco.convert(names=x, to='name_short'))

df_grouped.rename(columns={'Country of birth': 'country'}, inplace=True)
df_grouped

                 country  billionaires_count
0                Algeria                   1
1              Argentina                   4
2                Armenia                   1
3              Australia                  24
4                Austria                   6
5                Belgium                   1
6                 Brazil                  15
7                 Canada                  23
8                  Chile                   2
9                  China                 495
10              Colombia                   1
11               Czechia                   6
12                 Egypt                   2
13               Finland                   2
14                France                  14
15               Georgia                   1
16               Germany                  29
17                Greece                   1
18             Hong Kong                  21
19               Hungary                   3
20                 India                  67
21             Indonesia                  14
22               Ireland                   3
23                Israel                  13
24                 Italy                  22
25                 Japan                  29
26            Kazakhstan                   6
27               Lebanon                   2
28              Malaysia                   5
29                Mexico                   6
30           Netherlands                   7
31           New Zealand                   1
32               Nigeria                   2
33                Norway                   4
34                  Oman                   1
35           Philippines                   4
36                Poland                   5
37                 Qatar                   1
38               Romania                   3
39                Russia                  74
40             Singapore                  12
41              Slovakia                   2
42          South Africa                   3
43           South Korea                  14
44                 Spain                   9
45                Sweden                  13
46           Switzerland                  15
47                Taiwan                  22
48              Thailand                  13
49               Türkiye                  14
50               Ukraine                   5
51  United Arab Emirates                   1
52        United Kingdom                  26
53         United States                 434
54            Uzbekistan                   1
55               Vietnam                   6

## Basic data from billionaires dataset about countries

In [5]:
# Import billionaires country

billionaires = pd.read_csv("C:/Users/keita/git/DataVis/data/raw/Billionaires Statistics Dataset.csv")
df = billionaires.groupby('country').agg(
    latitude=('latitude_country', 'first'),
    longitude=('longitude_country', 'first')
)
df.index = df.index.map(lambda country: coco.convert(names=country, to='name_short'))
df.reset_index(inplace=True)
df

           country   latitude   longitude
0          Algeria  28.033886    1.659626
1          Andorra  42.506285    1.521801
2        Argentina -38.416097  -63.616672
3          Armenia  40.069099   45.038189
4        Australia -25.274398  133.775136
..             ...        ...         ...
73  United Kingdom  55.378051   -3.435973
74   United States  37.090240  -95.712891
75         Uruguay -32.522779  -55.765835
76      Uzbekistan  41.377491   64.585262
77         Vietnam  14.058324  108.277199

[78 rows x 3 columns]

In [6]:
# Merge two df and df_gdp

df = pd.merge(df, df_grouped, on='country', how='inner')
df

                 country   latitude   longitude  billionaires_count
0                Algeria  28.033886    1.659626                   1
1              Argentina -38.416097  -63.616672                   4
2                Armenia  40.069099   45.038189                   1
3              Australia -25.274398  133.775136                  24
4                Austria  47.516231   14.550072                   6
5                Belgium  50.503887    4.469936                   1
6                 Brazil -14.235004  -51.925280                  15
7                 Canada  56.130366 -106.346771                  23
8                  Chile -35.675147  -71.542969                   2
9                  China  35.861660  104.195397                 495
10              Colombia   4.570868  -74.297333                   1
11               Czechia  49.817492   15.472962                   6
12                 Egypt  26.820553   30.802498                   2
13               Finland  61.924110   25.748151                   2
14                France  46.227638    2.213749                  14
15               Georgia  42.315407   43.356892                   1
16               Germany  51.165691   10.451526                  29
17                Greece  39.074208   21.824312                   1
18             Hong Kong        NaN         NaN                  21
19               Hungary  47.162494   19.503304                   3
20                 India  20.593684   78.962880                  67
21             Indonesia  -0.789275  113.921327                  14
22               Ireland        NaN         NaN                   3
23                Israel  31.046051   34.851612                  13
24                 Italy  41.871940   12.567380                  22
25                 Japan  36.204824  138.252924                  29
26            Kazakhstan  48.019573   66.923684                   6
27               Lebanon  33.854721   35.862285                   2
28              Malaysia   4.210484  101.975766                   5
29                Mexico  23.634501 -102.552784                   6
30           Netherlands  52.132633    5.291266                   7
31           New Zealand -40.900557  174.885971                   1
32               Nigeria   9.081999    8.675277                   2
33                Norway  60.472024    8.468946                   4
34                  Oman  21.473533   55.975413                   1
35           Philippines  12.879721  121.774017                   4
36                Poland  51.919438   19.145136                   5
37                 Qatar  25.354826   51.183884                   1
38               Romania  45.943161   24.966760                   3
39                Russia  61.524010  105.318756                  74
40             Singapore   1.352083  103.819836                  12
41              Slovakia  48.669026   19.699024                   2
42          South Africa -30.559482   22.937506                   3
43           South Korea  35.907757  127.766922                  14
44                 Spain  40.463667   -3.749220                   9
45                Sweden  60.128161   18.643501                  13
46           Switzerland  46.818188    8.227512                  15
47                Taiwan        NaN         NaN                  22
48              Thailand  15.870032  100.992541                  13
49               Türkiye  38.963745   35.243322                  14
50               Ukraine  48.379433   31.165580                   5
51  United Arab Emirates  23.424076   53.847818                   1
52        United Kingdom  55.378051   -3.435973                  26
53         United States  37.090240  -95.712891                 434
54            Uzbekistan  41.377491   64.585262                   1
55               Vietnam  14.058324  108.277199                   6

## Population

In [7]:
# Import dataset population

df_population = pd.read_csv("C:/Users/keita/git/DataVis/data/raw/population.csv", usecols=["Country Name", "2023 [YR2023]"])
df_population = df_population.rename(columns={'2023 [YR2023]': 'Population'})
df_population = df_population[df_population["Population"] != ".."]
df_population["Country Name"] = df_population["Country Name"].apply(lambda country: coco.convert(names=country, to='name_short'))
df_population = df_population.rename(columns={'Country Name': 'country'})
df_population

Channel Islands not found in regex

                          country  Population
0                        Zimbabwe    16665409
1                          Zambia    20569737
2                       Palestine     5165775
3                           Yemen    34449825
4    United States Virgin Islands      104917
..                            ...         ...
212          United Arab Emirates     9516871
213                United Kingdom    68350000
214                 United States   334914895
215                    Uzbekistan    36412350
216                     Venezuela    28838499

[217 rows x 2 columns]

In [8]:
# Merge two df and df_population

df = pd.merge(df, df_population, on='country', how='left')
df

,country,latitude,longitude,billionaires_count,Population
0,Algeria,28.033886,1.659626,1,4.560648e+07
1,Argentina,-38.416097,-63.616672,4,4.665458e+07
2,Armenia,40.069099,45.038189,1,2.777970e+06
3,Australia,-25.274398,133.775136,24,2.663854e+07
4,Austria,47.516231,14.550072,6,9.132383e+06
5,Belgium,50.503887,4.469936,1,1.182259e+07
6,Brazil,-14.235004,-51.925280,15,2.164224e+08
7,Canada,56.130366,-106.346771,23,4.009776e+07
8,Chile,-35.675147,-71.542969,2,1.962959e+07
9,China,35.861660,104.195397,495,1.410710e+09
10,Colombia,4.570868,-74.297333,1,5.208517e+07
11,Czechia,49.817492,15.472962,6,1.087369e+07
12,Egypt,26.820553,30.802498,2,1.127166e+08
13,Finland,61.924110,25.748151,2,5.584264e+06
14,France,46.227638,2.213749,14,6.817023e+07
15,Georgia,42.315407,43.356892,1,3.760365e+06
16,Germany,51.165691,10.451526,29,8.448227e+07
17,Greece,39.074208,21.824312,1,1.036130e+07
18,Hong Kong,NaN,NaN,21,7.536100e+06
19,Hungary,47.162494,19.503304,3,9.589872e+06
20,India,20.593684,78.962880,67,1.428628e+09
21,Indonesia,-0.789275,113.921327,14,2.775341e+08
22,Ireland,NaN,NaN,3,5.262382e+06
23,Israel,31.046051,34.851612,13,9.756700e+06
24,Italy,41.871940,12.567380,22,5.876115e+07
25,Japan,36.204824,138.252924,29,1.245166e+08
26,Kazakhstan,48.019573,66.923684,6,1.990018e+07
27,Lebanon,33.854721,35.862285,2,5.353930e+06
28,Malaysia,4.210484,101.975766,5,3.430852e+07
29,Mexico,23.634501,-102.552784,6,1.284556e+08
30,Netherlands,52.132633,5.291266,7,1.787949e+07
31,New Zealand,-40.900557,174.885971,1,5.223100e+06
32,Nigeria,9.081999,8.675277,2,2.238046e+08
33,Norway,60.472024,8.468946,4,5.519594e+06
34,Oman,21.473533,55.975413,1,4.644384e+06
35,Philippines,12.879721,121.774017,4,1.173374e+08
36,Poland,51.919438,19.145136,5,3.668585e+07
37,Qatar,25.354826,51.183884,1,2.716391e+06
38,Romania,45.943161,24.966760,3,1.905612e+07
39,Russia,61.524010,105.318756,74,1.438261e+08
40,Singapore,1.352083,103.819836,12,5.917648e+06
41,Slovakia,48.669026,19.699024,2,5.426740e+06
42,South Africa,-30.559482,22.937506,3,6.041450e+07
43,South Korea,35.907757,127.766922,14,5.171262e+07
44,Spain,40.463667,-3.749220,9,4.837334e+07
45,Sweden,60.128161,18.643501,13,1.053663e+07
46,Switzerland,46.818188,8.227512,15,8.849852e+06
47,Taiwan,NaN,NaN,22,NaN
48,Thailand,15.870032,100.992541,13,7.180128e+07
49,Türkiye,38.963745,35.243322,14,8.532600e+07
50,Ukraine,48.379433,31.165580,5,3.700000e+07
51,United Arab Emirates,23.424076,53.847818,1,9.516871e+06
52,United Kingdom,55.378051,-3.435973,26,6.835000e+07
53,United States,37.090240,-95.712891,434,3.349149e+08
54,Uzbekistan,41.377491,64.585262,1,3.641235e+07
55,Vietnam,14.058324,108.277199,6,9.885895e+07

In [9]:
# Check missing

rows_with_missing = df[df.isnull().any(axis=1)]
rows_with_missing

      country  latitude  longitude  billionaires_count  Population
18  Hong Kong       NaN        NaN                  21   7536100.0
22    Ireland       NaN        NaN                   3   5262382.0
47     Taiwan       NaN        NaN                  22         NaN

In [10]:
# Add taiwan manually

df.loc[df["country"] == "Taiwan", "Population"] = 23171184
df[df["country"] == "Taiwan"]

   country  latitude  longitude  billionaires_count  Population
47  Taiwan       NaN        NaN                  22  23171184.0

## GDP

In [11]:
# Import dataset GDP

df_gdp = pd.read_csv("C:/Users/keita/git/DataVis/data/raw/gdp_countries.csv", usecols=["Country Name", "2022 [YR2022]"])
df_gdp = df_gdp.rename(columns={'2022 [YR2022]': 'GDP'})
df_gdp.dropna(subset=['GDP'], inplace=True)
df_gdp = df_gdp[df_gdp["GDP"] != ".."]
df_gdp["Country Name"] = df_gdp["Country Name"].apply(lambda country: coco.convert(names=country, to='name_short'))
df_gdp = df_gdp.rename(columns={'Country Name': 'country'})
df_gdp

Channel Islands not found in regex

            country               GDP
0       Afghanistan  14502158192.0904
1           Albania  18916378860.5488
2           Algeria  225560256621.757
3    American Samoa         871000000
4           Andorra  3380602042.84283
..              ...               ...
209         Vanuatu  1022219297.50335
211         Vietnam  410324028883.325
213       Palestine       19165500000
215          Zambia  29163782140.4858
216        Zimbabwe  27366627153.0954

[202 rows x 2 columns]

In [12]:
# Merge two df and df_gdp

df = pd.merge(df, df_gdp, on='country', how='left')
df

,country,latitude,longitude,billionaires_count,Population,GDP
0,Algeria,28.033886,1.659626,1,4.560648e+07,225560256621.757
1,Argentina,-38.416097,-63.616672,4,4.665458e+07,631133384439.944
2,Armenia,40.069099,45.038189,1,2.777970e+06,19513474648.2429
3,Australia,-25.274398,133.775136,24,2.663854e+07,1692956646855.7
4,Austria,47.516231,14.550072,6,9.132383e+06,470941926750.741
5,Belgium,50.503887,4.469936,1,1.182259e+07,583613982019.263
6,Brazil,-14.235004,-51.925280,15,2.164224e+08,1951923942083.32
7,Canada,56.130366,-106.346771,23,4.009776e+07,2161483369422.01
8,Chile,-35.675147,-71.542969,2,1.962959e+07,302116539409.03
9,China,35.861660,104.195397,495,1.410710e+09,17881783387000.9
10,Colombia,4.570868,-74.297333,1,5.208517e+07,345329875078.512
11,Czechia,49.817492,15.472962,6,1.087369e+07,290565654835.809
12,Egypt,26.820553,30.802498,2,1.127166e+08,476747720364.742
13,Finland,61.924110,25.748151,2,5.584264e+06,281887430795.721
14,France,46.227638,2.213749,14,6.817023e+07,2779092236505.85
15,Georgia,42.315407,43.356892,1,3.760365e+06,24984568959.605
16,Germany,51.165691,10.451526,29,8.448227e+07,4082469490797.68
17,Greece,39.074208,21.824312,1,1.036130e+07,217581324512.059
18,Hong Kong,NaN,NaN,21,7.536100e+06,358696261481.16
19,Hungary,47.162494,19.503304,3,9.589872e+06,177006128624.627
20,India,20.593684,78.962880,67,1.428628e+09,3353470496885.95
21,Indonesia,-0.789275,113.921327,14,2.775341e+08,1319076267310.16
22,Ireland,NaN,NaN,3,5.262382e+06,533140011838.276
23,Israel,31.046051,34.851612,13,9.756700e+06,525002447652.773
24,Italy,41.871940,12.567380,22,5.876115e+07,2066972096553.7
25,Japan,36.204824,138.252924,29,1.245166e+08,4256410760723.75
26,Kazakhstan,48.019573,66.923684,6,1.990018e+07,225496328925.494
27,Lebanon,33.854721,35.862285,2,5.353930e+06,20992421948.8081
28,Malaysia,4.210484,101.975766,5,3.430852e+07,407027451714.616
29,Mexico,23.634501,-102.552784,6,1.284556e+08,1463323889036.56
30,Netherlands,52.132633,5.291266,7,1.787949e+07,1009398719033.08
31,New Zealand,-40.900557,174.885971,1,5.223100e+06,246733522841.353
32,Nigeria,9.081999,8.675277,2,2.238046e+08,472624596925.938
33,Norway,60.472024,8.468946,4,5.519594e+06,593726965415.619
34,Oman,21.473533,55.975413,1,4.644384e+06,114667360208.062
35,Philippines,12.879721,121.774017,4,1.173374e+08,404353369604.631
36,Poland,51.919438,19.145136,5,3.668585e+07,689763329458.441
37,Qatar,25.354826,51.183884,1,2.716391e+06,235770403734.9
38,Romania,45.943161,24.966760,3,1.905612e+07,298891515898.026
39,Russia,61.524010,105.318756,74,1.438261e+08,2266029240645.34
40,Singapore,1.352083,103.819836,12,5.917648e+06,498474540987.78
41,Slovakia,48.669026,19.699024,2,5.426740e+06,115584743573.553
42,South Africa,-30.559482,22.937506,3,6.041450e+07,405270850098.738
43,South Korea,35.907757,127.766922,14,5.171262e+07,1673916511799.71
44,Spain,40.463667,-3.749220,9,4.837334e+07,1417800466262.65
45,Sweden,60.128161,18.643501,13,1.053663e+07,590409594949.102
46,Switzerland,46.818188,8.227512,15,8.849852e+06,818426550206.45
47,Taiwan,NaN,NaN,22,2.317118e+07,NaN
48,Thailand,15.870032,100.992541,13,7.180128e+07,495645210972.751
49,Türkiye,38.963745,35.243322,14,8.532600e+07,907118435952.688
50,Ukraine,48.379433,31.165580,5,3.700000e+07,161989520721.19
51,United Arab Emirates,23.424076,53.847818,1,9.516871e+06,507063968277.74
52,United Kingdom,55.378051,-3.435973,26,6.835000e+07,3088839763445.02
53,United States,37.090240,-95.712891,434,3.349149e+08,25744108000000
54,Uzbekistan,41.377491,64.585262,1,3.641235e+07,81140823252.4164
55,Vietnam,14.058324,108.277199,6,9.885895e+07,410324028883.325

In [13]:
# Check missing

rows_with_missing = df[df.isnull().any(axis=1)]
rows_with_missing

,country,latitude,longitude,billionaires_count,Population,GDP
18,Hong Kong,NaN,NaN,21,7536100.0,358696261481.16
22,Ireland,NaN,NaN,3,5262382.0,533140011838.276
47,Taiwan,NaN,NaN,22,23171184.0,NaN

In [14]:
# Add taiwan manually

df.loc[df["country"] == "Taiwan", "GDP"] = 688125000000
df[df["country"] == "Taiwan"]

   country  latitude  longitude  billionaires_count  Population           GDP
47  Taiwan       NaN        NaN                  22  23171184.0  688125000000

In [15]:
# Convert all the columns to the right format

df["GDP"] = pd.to_numeric(df["GDP"], errors="coerce")
df.dtypes

country                object
latitude              float64
longitude             float64
billionaires_count      int64
Population            float64
GDP                   float64
dtype: object

## GDP per capta

In [16]:
# Compute GDP per capta

df["GDP per capta"] = df["GDP"] / df["Population"]
df

,country,latitude,longitude,billionaires_count,Population,GDP,GDP per capta
0,Algeria,28.033886,1.659626,1,4.560648e+07,2.255603e+11,4945.794032
1,Argentina,-38.416097,-63.616672,4,4.665458e+07,6.311334e+11,13527.790217
2,Armenia,40.069099,45.038189,1,2.777970e+06,1.951347e+10,7024.364787
3,Australia,-25.274398,133.775136,24,2.663854e+07,1.692957e+12,63552.897142
4,Austria,47.516231,14.550072,6,9.132383e+06,4.709419e+11,51568.350424
5,Belgium,50.503887,4.469936,1,1.182259e+07,5.836140e+11,49364.300317
6,Brazil,-14.235004,-51.925280,15,2.164224e+08,1.951924e+12,9019.045751
7,Canada,56.130366,-106.346771,23,4.009776e+07,2.161483e+12,53905.338241
8,Chile,-35.675147,-71.542969,2,1.962959e+07,3.021165e+11,15390.873646
9,China,35.861660,104.195397,495,1.410710e+09,1.788178e+13,12675.733061
10,Colombia,4.570868,-74.297333,1,5.208517e+07,3.453299e+11,6630.100052
11,Czechia,49.817492,15.472962,6,1.087369e+07,2.905657e+11,26721.902276
12,Egypt,26.820553,30.802498,2,1.127166e+08,4.767477e+11,4229.614172
13,Finland,61.924110,25.748151,2,5.584264e+06,2.818874e+11,50478.886886
14,France,46.227638,2.213749,14,6.817023e+07,2.779092e+12,40766.949415
15,Georgia,42.315407,43.356892,1,3.760365e+06,2.498457e+10,6644.187189
16,Germany,51.165691,10.451526,29,8.448227e+07,4.082469e+12,48323.389461
17,Greece,39.074208,21.824312,1,1.036130e+07,2.175813e+11,20999.433421
18,Hong Kong,NaN,NaN,21,7.536100e+06,3.586963e+11,47597.067645
19,Hungary,47.162494,19.503304,3,9.589872e+06,1.770061e+11,18457.611178
20,India,20.593684,78.962880,67,1.428628e+09,3.353470e+12,2347.336947
21,Indonesia,-0.789275,113.921327,14,2.775341e+08,1.319076e+12,4752.843570
22,Ireland,NaN,NaN,3,5.262382e+06,5.331400e+11,101311.537596
23,Israel,31.046051,34.851612,13,9.756700e+06,5.250024e+11,53809.428152
24,Italy,41.871940,12.567380,22,5.876115e+07,2.066972e+12,35175.830243
25,Japan,36.204824,138.252924,29,1.245166e+08,4.256411e+12,34183.466715
26,Kazakhstan,48.019573,66.923684,6,1.990018e+07,2.254963e+11,11331.373029
27,Lebanon,33.854721,35.862285,2,5.353930e+06,2.099242e+10,3920.936947
28,Malaysia,4.210484,101.975766,5,3.430852e+07,4.070275e+11,11863.740913
29,Mexico,23.634501,-102.552784,6,1.284556e+08,1.463324e+12,11391.673582
30,Netherlands,52.132633,5.291266,7,1.787949e+07,1.009399e+12,56455.683688
31,New Zealand,-40.900557,174.885971,1,5.223100e+06,2.467335e+11,47238.904643
32,Nigeria,9.081999,8.675277,2,2.238046e+08,4.726246e+11,2111.773080
33,Norway,60.472024,8.468946,4,5.519594e+06,5.937270e+11,107567.144507
34,Oman,21.473533,55.975413,1,4.644384e+06,1.146674e+11,24689.465860
35,Philippines,12.879721,121.774017,4,1.173374e+08,4.043534e+11,3446.074993
36,Poland,51.919438,19.145136,5,3.668585e+07,6.897633e+11,18801.890872
37,Qatar,25.354826,51.183884,1,2.716391e+06,2.357704e+11,86795.459024
38,Romania,45.943161,24.966760,3,1.905612e+07,2.988915e+11,15684.807749
39,Russia,61.524010,105.318756,74,1.438261e+08,2.266029e+12,15755.337647
40,Singapore,1.352083,103.819836,12,5.917648e+06,4.984745e+11,84235.247008
41,Slovakia,48.669026,19.699024,2,5.426740e+06,1.155847e+11,21299.112096
42,South Africa,-30.559482,22.937506,3,6.041450e+07,4.052709e+11,6708.172436
43,South Korea,35.907757,127.766922,14,5.171262e+07,1.673917e+12,32369.594582
44,Spain,40.463667,-3.749220,9,4.837334e+07,1.417800e+12,29309.544958
45,Sweden,60.128161,18.643501,13,1.053663e+07,5.904096e+11,56033.995963
46,Switzerland,46.818188,8.227512,15,8.849852e+06,8.184266e+11,92479.122838
47,Taiwan,NaN,NaN,22,2.317118e+07,6.881250e+11,29697.446622
48,Thailand,15.870032,100.992541,13,7.180128e+07,4.956452e+11,6903.013677
49,Türkiye,38.963745,35.243322,14,8.532600e+07,9.071184e+11,10631.207791
50,Ukraine,48.379433,31.165580,5,3.700000e+07,1.619895e+11,4378.095155
51,United Arab Emirates,23.424076,53.847818,1,9.516871e+06,5.070640e+11,53280.533936
52,United Kingdom,55.378051,-3.435973,26,6.835000e+07,3.088840e+12,45191.510804
53,United States,37.090240,-95.712891,434,3.349149e+08,2.574411e+13,76867.611397
54,Uzbekistan,41.377491,64.585262,1,3.641235e+07,8.114082e+10,2228.387436
55,Vietnam,14.058324,108.277199,6,9.885895e+07,4.103240e+11,4150.600718

## GDP Growth

In [17]:
# GDP Growth

df_growth = pd.read_csv("C:/Users/keita/git/DataVis/data/raw/worldBank_gdp_growth.csv", usecols=["Country Name", "2023 [YR2023]"])
df_growth = df_growth.rename(columns={'2023 [YR2023]': 'GDP Growth'})
df_growth = df_growth[df_growth["GDP Growth"] != ".."]
df_growth["Country Name"] = df_growth["Country Name"].apply(lambda country: coco.convert(names=country, to='name_short'))
df_growth = df_growth.rename(columns={'Country Name': 'country'})
df_growth

                  country         GDP Growth
0                Zimbabwe   4.95578170349711
1                  Zambia   5.83247413510912
2               Palestine  -5.50879437160218
5                 Vietnam   5.04643073618749
6                 Vanuatu   2.21294177094788
..                    ...                ...
211                Uganda   5.23187410562045
212  United Arab Emirates   3.40385720609487
213        United Kingdom  0.104017849159277
214         United States   2.54270029878489
215            Uzbekistan   5.98897580604036

[185 rows x 2 columns]

In [18]:
# Merge gdp growth

df = pd.merge(df, df_growth, on='country', how='left')
df

,country,latitude,longitude,billionaires_count,Population,GDP,GDP per capta,GDP Growth
0,Algeria,28.033886,1.659626,1,4.560648e+07,2.255603e+11,4945.794032,4.10000000000679
1,Argentina,-38.416097,-63.616672,4,4.665458e+07,6.311334e+11,13527.790217,-1.55050153620256
2,Armenia,40.069099,45.038189,1,2.777970e+06,1.951347e+10,7024.364787,8.7
3,Australia,-25.274398,133.775136,24,2.663854e+07,1.692957e+12,63552.897142,3.01698810357014
4,Austria,47.516231,14.550072,6,9.132383e+06,4.709419e+11,51568.350424,-0.828815088963225
5,Belgium,50.503887,4.469936,1,1.182259e+07,5.836140e+11,49364.300317,1.36505523054922
6,Brazil,-14.235004,-51.925280,15,2.164224e+08,1.951924e+12,9019.045751,2.90848048667777
7,Canada,56.130366,-106.346771,23,4.009776e+07,2.161483e+12,53905.338241,1.06599445256434
8,Chile,-35.675147,-71.542969,2,1.962959e+07,3.021165e+11,15390.873646,0.218780666901552
9,China,35.861660,104.195397,495,1.410710e+09,1.788178e+13,12675.733061,5.19999999987174
10,Colombia,4.570868,-74.297333,1,5.208517e+07,3.453299e+11,6630.100052,0.612181322079849
11,Czechia,49.817492,15.472962,6,1.087369e+07,2.905657e+11,26721.902276,-0.311479452106369
12,Egypt,26.820553,30.802498,2,1.127166e+08,4.767477e+11,4229.614172,3.75900541919032
13,Finland,61.924110,25.748151,2,5.584264e+06,2.818874e+11,50478.886886,-1.03537569285423
14,France,46.227638,2.213749,14,6.817023e+07,2.779092e+12,40766.949415,0.703718546620237
15,Georgia,42.315407,43.356892,1,3.760365e+06,2.498457e+10,6644.187189,7.47447909383303
16,Germany,51.165691,10.451526,29,8.448227e+07,4.082469e+12,48323.389461,-0.304934575740816
17,Greece,39.074208,21.824312,1,1.036130e+07,2.175813e+11,20999.433421,2.01152094343999
18,Hong Kong,NaN,NaN,21,7.536100e+06,3.586963e+11,47597.067645,3.21505497011667
19,Hungary,47.162494,19.503304,3,9.589872e+06,1.770061e+11,18457.611178,-0.907685956140242
20,India,20.593684,78.962880,67,1.428628e+09,3.353470e+12,2347.336947,7.58397112433558
21,Indonesia,-0.789275,113.921327,14,2.775341e+08,1.319076e+12,4752.843570,5.04810577067288
22,Ireland,NaN,NaN,3,5.262382e+06,5.331400e+11,101311.537596,-3.1987859599287
23,Israel,31.046051,34.851612,13,9.756700e+06,5.250024e+11,53809.428152,1.99703998799328
24,Italy,41.871940,12.567380,22,5.876115e+07,2.066972e+12,35175.830243,0.920692213760276
25,Japan,36.204824,138.252924,29,1.245166e+08,4.256411e+12,34183.466715,1.92305553064716
26,Kazakhstan,48.019573,66.923684,6,1.990018e+07,2.254963e+11,11331.373029,5.09999999973641
27,Lebanon,33.854721,35.862285,2,5.353930e+06,2.099242e+10,3920.936947,NaN
28,Malaysia,4.210484,101.975766,5,3.430852e+07,4.070275e+11,11863.740913,3.68028218563347
29,Mexico,23.634501,-102.552784,6,1.284556e+08,1.463324e+12,11391.673582,3.22873675559163
30,Netherlands,52.132633,5.291266,7,1.787949e+07,1.009399e+12,56455.683688,0.116008634532122
31,New Zealand,-40.900557,174.885971,1,5.223100e+06,2.467335e+11,47238.904643,0.632242361629224
32,Nigeria,9.081999,8.675277,2,2.238046e+08,4.726246e+11,2111.773080,2.86021499108364
33,Norway,60.472024,8.468946,4,5.519594e+06,5.937270e+11,107567.144507,0.514118226595343
34,Oman,21.473533,55.975413,1,4.644384e+06,1.146674e+11,24689.465860,1.29999999999998
35,Philippines,12.879721,121.774017,4,1.173374e+08,4.043534e+11,3446.074993,5.54585117087767
36,Poland,51.919438,19.145136,5,3.668585e+07,6.897633e+11,18801.890872,0.160586011025046
37,Qatar,25.354826,51.183884,1,2.716391e+06,2.357704e+11,86795.459024,NaN
38,Romania,45.943161,24.966760,3,1.905612e+07,2.988915e+11,15684.807749,2.14847699574527
39,Russia,61.524010,105.318756,74,1.438261e+08,2.266029e+12,15755.337647,3.60000000000001
40,Singapore,1.352083,103.819836,12,5.917648e+06,4.984745e+11,84235.247008,1.07503175095101
41,Slovakia,48.669026,19.699024,2,5.426740e+06,1.155847e+11,21299.112096,1.59645497115139
42,South Africa,-30.559482,22.937506,3,6.041450e+07,4.052709e+11,6708.172436,0.601662303103254
43,South Korea,35.907757,127.766922,14,5.171262e+07,1.673917e+12,32369.594582,1.35673324311098
44,Spain,40.463667,-3.749220,9,4.837334e+07,1.417800e+12,29309.544958,2.50329435985475
45,Sweden,60.128161,18.643501,13,1.053663e+07,5.904096e+11,56033.995963,-0.196170994604543
46,Switzerland,46.818188,8.227512,15,8.849852e+06,8.184266e+11,92479.122838,0.716066868695833
47,Taiwan,NaN,NaN,22,2.317118e+07,6.881250e+11,29697.446622,NaN
48,Thailand,15.870032,100.992541,13,7.180128e+07,4.956452e+11,6903.013677,1.88281746066315
49,Türkiye,38.963745,35.243322,14,8.532600e+07,9.071184e+11,10631.207791,4.5168665079849
50,Ukraine,48.379433,31.165580,5,3.700000e+07,1.619895e+11,4378.095155,5.3
51,United Arab Emirates,23.424076,53.847818,1,9.516871e+06,5.070640e+11,53280.533936,3.40385720609487
52,United Kingdom,55.378051,-3.435973,26,6.835000e+07,3.088840e+12,45191.510804,0.104017849159277
53,United States,37.090240,-95.712891,434,3.349149e+08,2.574411e+13,76867.611397,2.54270029878489
54,Uzbekistan,41.377491,64.585262,1,3.641235e+07,8.114082e+10,2228.387436,5.98897580604036
55,Vietnam,14.058324,108.277199,6,9.885895e+07,4.103240e+11,4150.600718,5.04643073618749

In [19]:
# Check missing

rows_with_missing = df[df.isnull().any(axis=1)]
rows_with_missing

,country,latitude,longitude,billionaires_count,Population,GDP,GDP per capta,GDP Growth
18,Hong Kong,NaN,NaN,21,7536100.0,3.586963e+11,47597.067645,3.21505497011667
22,Ireland,NaN,NaN,3,5262382.0,5.331400e+11,101311.537596,-3.1987859599287
27,Lebanon,33.854721,35.862285,2,5353930.0,2.099242e+10,3920.936947,NaN
37,Qatar,25.354826,51.183884,1,2716391.0,2.357704e+11,86795.459024,NaN
47,Taiwan,NaN,NaN,22,23171184.0,6.881250e+11,29697.446622,NaN

In [20]:
# Add manually missing

df.loc[df["country"] == "Taiwan", "GDP Growth"] = 2.4
df.loc[df["country"] == "Lebanon", "GDP Growth"] = -0.6
df.loc[df["country"] == "Qatar", "GDP Growth"] = 4.2

rows_with_missing = df[df.isnull().any(axis=1)]
rows_with_missing

,country,latitude,longitude,billionaires_count,Population,GDP,GDP per capta,GDP Growth
18,Hong Kong,NaN,NaN,21,7536100.0,3.586963e+11,47597.067645,3.21505497011667
22,Ireland,NaN,NaN,3,5262382.0,5.331400e+11,101311.537596,-3.1987859599287
47,Taiwan,NaN,NaN,22,23171184.0,6.881250e+11,29697.446622,2.4

## Tax revenue

In [21]:
# Tax revenue
df_tax_revenue = pd.read_csv("C:/Users/keita/git/DataVis/data/raw/tax_revenue_country.csv", usecols=["Country Name", "2020 [YR2020]"])
df_tax_revenue = df_tax_revenue.rename(columns={'2020 [YR2020]': 'Tax Revenue'})
df_tax_revenue = df_tax_revenue[df_tax_revenue["Tax Revenue"] != ".."]
df_tax_revenue["Country Name"] = df_tax_revenue["Country Name"].apply(lambda country: coco.convert(names=country, to='name_short'))
df_tax_revenue = df_tax_revenue.rename(columns={'Country Name': 'country'})
df_tax_revenue

        country       Tax Revenue
1       Albania  16.9832568328479
7     Argentina  8.03863055414871
8       Armenia  21.8604192761626
10    Australia  22.5575154262979
11      Austria   24.430745420851
..          ...               ...
207     Uruguay  18.5148717533759
208  Uzbekistan  14.7782023187144
209     Vanuatu  14.0402557920117
213   Palestine  20.8517768532849
215      Zambia  16.4180055090919

[136 rows x 2 columns]

In [22]:
# Merge tax Revenue

df = pd.merge(df, df_tax_revenue, on='country', how='left')
df

,country,latitude,longitude,billionaires_count,Population,GDP,GDP per capta,GDP Growth,Tax Revenue
0,Algeria,28.033886,1.659626,1,4.560648e+07,2.255603e+11,4945.794032,4.10000000000679,NaN
1,Argentina,-38.416097,-63.616672,4,4.665458e+07,6.311334e+11,13527.790217,-1.55050153620256,8.03863055414871
2,Armenia,40.069099,45.038189,1,2.777970e+06,1.951347e+10,7024.364787,8.7,21.8604192761626
3,Australia,-25.274398,133.775136,24,2.663854e+07,1.692957e+12,63552.897142,3.01698810357014,22.5575154262979
4,Austria,47.516231,14.550072,6,9.132383e+06,4.709419e+11,51568.350424,-0.828815088963225,24.430745420851
5,Belgium,50.503887,4.469936,1,1.182259e+07,5.836140e+11,49364.300317,1.36505523054922,21.1749069343668
6,Brazil,-14.235004,-51.925280,15,2.164224e+08,1.951924e+12,9019.045751,2.90848048667777,12.7193878571982
7,Canada,56.130366,-106.346771,23,4.009776e+07,2.161483e+12,53905.338241,1.06599445256434,13.5033320933869
8,Chile,-35.675147,-71.542969,2,1.962959e+07,3.021165e+11,15390.873646,0.218780666901552,16.1961693332108
9,China,35.861660,104.195397,495,1.410710e+09,1.788178e+13,12675.733061,5.19999999987174,8.09062621607631
10,Colombia,4.570868,-74.297333,1,5.208517e+07,3.453299e+11,6630.100052,0.612181322079849,14.0443530782884
11,Czechia,49.817492,15.472962,6,1.087369e+07,2.905657e+11,26721.902276,-0.311479452106369,14.3669150348801
12,Egypt,26.820553,30.802498,2,1.127166e+08,4.767477e+11,4229.614172,3.75900541919032,NaN
13,Finland,61.924110,25.748151,2,5.584264e+06,2.818874e+11,50478.886886,-1.03537569285423,19.8669960258446
14,France,46.227638,2.213749,14,6.817023e+07,2.779092e+12,40766.949415,0.703718546620237,14.6821253654277
15,Georgia,42.315407,43.356892,1,3.760365e+06,2.498457e+10,6644.187189,7.47447909383303,21.1807829038543
16,Germany,51.165691,10.451526,29,8.448227e+07,4.082469e+12,48323.389461,-0.304934575740816,10.5513363280871
17,Greece,39.074208,21.824312,1,1.036130e+07,2.175813e+11,20999.433421,2.01152094343999,25.3018286297911
18,Hong Kong,NaN,NaN,21,7.536100e+06,3.586963e+11,47597.067645,3.21505497011667,NaN
19,Hungary,47.162494,19.503304,3,9.589872e+06,1.770061e+11,18457.611178,-0.907685956140242,22.6077302439077
20,India,20.593684,78.962880,67,1.428628e+09,3.353470e+12,2347.336947,7.58397112433558,NaN
21,Indonesia,-0.789275,113.921327,14,2.775341e+08,1.319076e+12,4752.843570,5.04810577067288,8.31010524192246
22,Ireland,NaN,NaN,3,5.262382e+06,5.331400e+11,101311.537596,-3.1987859599287,16.2000964755069
23,Israel,31.046051,34.851612,13,9.756700e+06,5.250024e+11,53809.428152,1.99703998799328,21.9053118567727
24,Italy,41.871940,12.567380,22,5.876115e+07,2.066972e+12,35175.830243,0.920692213760276,24.7595801641641
25,Japan,36.204824,138.252924,29,1.245166e+08,4.256411e+12,34183.466715,1.92305553064716,12.31570769025
26,Kazakhstan,48.019573,66.923684,6,1.990018e+07,2.254963e+11,11331.373029,5.09999999973641,8.3188093138288
27,Lebanon,33.854721,35.862285,2,5.353930e+06,2.099242e+10,3920.936947,-0.6,8.90172832507978
28,Malaysia,4.210484,101.975766,5,3.430852e+07,4.070275e+11,11863.740913,3.68028218563347,10.8846712054019
29,Mexico,23.634501,-102.552784,6,1.284556e+08,1.463324e+12,11391.673582,3.22873675559163,13.9003944863246
30,Netherlands,52.132633,5.291266,7,1.787949e+07,1.009399e+12,56455.683688,0.116008634532122,24.3732188367042
31,New Zealand,-40.900557,174.885971,1,5.223100e+06,2.467335e+11,47238.904643,0.632242361629224,NaN
32,Nigeria,9.081999,8.675277,2,2.238046e+08,4.726246e+11,2111.773080,2.86021499108364,NaN
33,Norway,60.472024,8.468946,4,5.519594e+06,5.937270e+11,107567.144507,0.514118226595343,21.2531867719174
34,Oman,21.473533,55.975413,1,4.644384e+06,1.146674e+11,24689.465860,1.29999999999998,NaN
35,Philippines,12.879721,121.774017,4,1.173374e+08,4.043534e+11,3446.074993,5.54585117087767,13.9509857073772
36,Poland,51.919438,19.145136,5,3.668585e+07,6.897633e+11,18801.890872,0.160586011025046,17.4778155361402
37,Qatar,25.354826,51.183884,1,2.716391e+06,2.357704e+11,86795.459024,4.2,NaN
38,Romania,45.943161,24.966760,3,1.905612e+07,2.988915e+11,15684.807749,2.14847699574527,13.8491001663416
39,Russia,61.524010,105.318756,74,1.438261e+08,2.266029e+12,15755.337647,3.60000000000001,10.7991186914872
40,Singapore,1.352083,103.819836,12,5.917648e+06,4.984745e+11,84235.247008,1.07503175095101,12.7315446821269
41,Slovakia,48.669026,19.699024,2,5.426740e+06,1.155847e+11,21299.112096,1.59645497115139,18.636553592737
42,South Africa,-30.559482,22.937506,3,6.041450e+07,4.052709e+11,6708.172436,0.601662303103254,22.487256165157
43,South Korea,35.907757,127.766922,14,5.171262e+07,1.673917e+12,32369.594582,1.35673324311098,14.8612576736336
44,Spain,40.463667,-3.749220,9,4.837334e+07,1.417800e+12,29309.544958,2.50329435985475,13.5693157344438
45,Sweden,60.128161,18.643501,13,1.053663e+07,5.904096e+11,56033.995963,-0.196170994604543,26.7287653680492
46,Switzerland,46.818188,8.227512,15,8.849852e+06,8.184266e+11,92479.122838,0.716066868695833,9.34487114995366
47,Taiwan,NaN,NaN,22,2.317118e+07,6.881250e+11,29697.446622,2.4,NaN
48,Thailand,15.870032,100.992541,13,7.180128e+07,4.956452e+11,6903.013677,1.88281746066315,14.457740249559
49,Türkiye,38.963745,35.243322,14,8.532600e+07,9.071184e+11,10631.207791,4.5168665079849,17.6996920623628
50,Ukraine,48.379433,31.165580,5,3.700000e+07,1.619895e+11,4378.095155,5.3,19.1514002992876
51,United Arab Emirates,23.424076,53.847818,1,9.516871e+06,5.070640e+11,53280.533936,3.40385720609487,0.682088274479058
52,United Kingdom,55.378051,-3.435973,26,6.835000e+07,3.088840e+12,45191.510804,0.104017849159277,24.7719893854834
53,United States,37.090240,-95.712891,434,3.349149e+08,2.574411e+13,76867.611397,2.54270029878489,10.2112024837089
54,Uzbekistan,41.377491,64.585262,1,3.641235e+07,8.114082e+10,2228.387436,5.98897580604036,14.7782023187144
55,Vietnam,14.058324,108.277199,6,9.885895e+07,4.103240e+11,4150.600718,5.04643073618749,NaN

In [23]:
# Check missing

rows_with_missing = df[df.isnull().any(axis=1)]
rows_with_missing

,country,latitude,longitude,billionaires_count,Population,GDP,GDP per capta,GDP Growth,Tax Revenue
0,Algeria,28.033886,1.659626,1,4.560648e+07,2.255603e+11,4945.794032,4.10000000000679,NaN
12,Egypt,26.820553,30.802498,2,1.127166e+08,4.767477e+11,4229.614172,3.75900541919032,NaN
18,Hong Kong,NaN,NaN,21,7.536100e+06,3.586963e+11,47597.067645,3.21505497011667,NaN
20,India,20.593684,78.962880,67,1.428628e+09,3.353470e+12,2347.336947,7.58397112433558,NaN
22,Ireland,NaN,NaN,3,5.262382e+06,5.331400e+11,101311.537596,-3.1987859599287,16.2000964755069
31,New Zealand,-40.900557,174.885971,1,5.223100e+06,2.467335e+11,47238.904643,0.632242361629224,NaN
32,Nigeria,9.081999,8.675277,2,2.238046e+08,4.726246e+11,2111.773080,2.86021499108364,NaN
34,Oman,21.473533,55.975413,1,4.644384e+06,1.146674e+11,24689.465860,1.29999999999998,NaN
37,Qatar,25.354826,51.183884,1,2.716391e+06,2.357704e+11,86795.459024,4.2,NaN
47,Taiwan,NaN,NaN,22,2.317118e+07,6.881250e+11,29697.446622,2.4,NaN
55,Vietnam,14.058324,108.277199,6,9.885895e+07,4.103240e+11,4150.600718,5.04643073618749,NaN

In [24]:
# Add manually missing

df.loc[df["country"] == "Algeria", "Tax Revenue"] = 19.0
df.loc[df["country"] == "Egypt", "Tax Revenue"] = 14.1
df.loc[df["country"] == "Hong Kong", "Tax Revenue"] = 14.1
df.loc[df["country"] == "India", "Tax Revenue"] = 17.7
df.loc[df["country"] == "New Zealand", "Tax Revenue"] = 29.93
df.loc[df["country"] == "Nigeria", "Tax Revenue"] = 6.7
df.loc[df["country"] == "Oman", "Tax Revenue"] = 4.5
df.loc[df["country"] == "Taiwan", "Tax Revenue"] = 25.2
df.loc[df["country"] == "Qatar", "Tax Revenue"] = 10
df.loc[df["country"] == "Vietnam", "Tax Revenue"] = 11.6

rows_with_missing = df[df.isnull().any(axis=1)]
rows_with_missing

,country,latitude,longitude,billionaires_count,Population,GDP,GDP per capta,GDP Growth,Tax Revenue
18,Hong Kong,NaN,NaN,21,7536100.0,3.586963e+11,47597.067645,3.21505497011667,14.1
22,Ireland,NaN,NaN,3,5262382.0,5.331400e+11,101311.537596,-3.1987859599287,16.2000964755069
47,Taiwan,NaN,NaN,22,23171184.0,6.881250e+11,29697.446622,2.4,25.2

## Global innovation index

In [25]:
# Import global innovation index

df_innovation_index = pd.read_csv("C:/Users/keita/git/DataVis/data/raw/global_innovation_index.csv", sep=";", decimal=',', usecols=["Economies", "Year", "Global Innovation Index"])
df_innovation_index = df_innovation_index[df_innovation_index["Year"] == 2022]
df_innovation_index.dropna(subset=['Global Innovation Index'], inplace=True)
df_innovation_index.drop(columns=['Year'], inplace=True)
df_innovation_index["Economies"] = df_innovation_index["Economies"].apply(lambda country: coco.convert(names=country, to='name_short'))
df_innovation_index = df_innovation_index.rename(columns={'Economies': 'country'})
df_innovation_index

         country  Global Innovation Index
11       Albania                     24.4
23       Algeria                     16.7
35        Angola                     13.9
47     Argentina                     28.6
59       Armenia                     26.6
...          ...                      ...
1727  Uzbekistan                     25.3
1751     Vietnam                     34.3
1763       Yemen                     13.8
1775      Zambia                     15.8
1787    Zimbabwe                     18.1

[132 rows x 2 columns]

In [26]:
# Merge Global Innovation Index

df = pd.merge(df, df_innovation_index, on='country', how='left')
df

,country,latitude,longitude,billionaires_count,Population,GDP,GDP per capta,GDP Growth,Tax Revenue,Global Innovation Index
0,Algeria,28.033886,1.659626,1,4.560648e+07,2.255603e+11,4945.794032,4.10000000000679,19.0,16.7
1,Argentina,-38.416097,-63.616672,4,4.665458e+07,6.311334e+11,13527.790217,-1.55050153620256,8.03863055414871,28.6
2,Armenia,40.069099,45.038189,1,2.777970e+06,1.951347e+10,7024.364787,8.7,21.8604192761626,26.6
3,Australia,-25.274398,133.775136,24,2.663854e+07,1.692957e+12,63552.897142,3.01698810357014,22.5575154262979,47.1
4,Austria,47.516231,14.550072,6,9.132383e+06,4.709419e+11,51568.350424,-0.828815088963225,24.430745420851,50.2
5,Belgium,50.503887,4.469936,1,1.182259e+07,5.836140e+11,49364.300317,1.36505523054922,21.1749069343668,46.9
6,Brazil,-14.235004,-51.925280,15,2.164224e+08,1.951924e+12,9019.045751,2.90848048667777,12.7193878571982,32.5
7,Canada,56.130366,-106.346771,23,4.009776e+07,2.161483e+12,53905.338241,1.06599445256434,13.5033320933869,50.8
8,Chile,-35.675147,-71.542969,2,1.962959e+07,3.021165e+11,15390.873646,0.218780666901552,16.1961693332108,34.0
9,China,35.861660,104.195397,495,1.410710e+09,1.788178e+13,12675.733061,5.19999999987174,8.09062621607631,55.3
10,Colombia,4.570868,-74.297333,1,5.208517e+07,3.453299e+11,6630.100052,0.612181322079849,14.0443530782884,29.2
11,Czechia,49.817492,15.472962,6,1.087369e+07,2.905657e+11,26721.902276,-0.311479452106369,14.3669150348801,42.8
12,Egypt,26.820553,30.802498,2,1.127166e+08,4.767477e+11,4229.614172,3.75900541919032,14.1,22.7
13,Finland,61.924110,25.748151,2,5.584264e+06,2.818874e+11,50478.886886,-1.03537569285423,19.8669960258446,56.9
14,France,46.227638,2.213749,14,6.817023e+07,2.779092e+12,40766.949415,0.703718546620237,14.6821253654277,55.0
15,Georgia,42.315407,43.356892,1,3.760365e+06,2.498457e+10,6644.187189,7.47447909383303,21.1807829038543,27.9
16,Germany,51.165691,10.451526,29,8.448227e+07,4.082469e+12,48323.389461,-0.304934575740816,10.5513363280871,57.2
17,Greece,39.074208,21.824312,1,1.036130e+07,2.175813e+11,20999.433421,2.01152094343999,25.3018286297911,34.5
18,Hong Kong,NaN,NaN,21,7.536100e+06,3.586963e+11,47597.067645,3.21505497011667,14.1,51.8
19,Hungary,47.162494,19.503304,3,9.589872e+06,1.770061e+11,18457.611178,-0.907685956140242,22.6077302439077,39.8
20,India,20.593684,78.962880,67,1.428628e+09,3.353470e+12,2347.336947,7.58397112433558,17.7,36.6
21,Indonesia,-0.789275,113.921327,14,2.775341e+08,1.319076e+12,4752.843570,5.04810577067288,8.31010524192246,27.9
22,Ireland,NaN,NaN,3,5.262382e+06,5.331400e+11,101311.537596,-3.1987859599287,16.2000964755069,48.5
23,Israel,31.046051,34.851612,13,9.756700e+06,5.250024e+11,53809.428152,1.99703998799328,21.9053118567727,50.2
24,Italy,41.871940,12.567380,22,5.876115e+07,2.066972e+12,35175.830243,0.920692213760276,24.7595801641641,46.1
25,Japan,36.204824,138.252924,29,1.245166e+08,4.256411e+12,34183.466715,1.92305553064716,12.31570769025,53.6
26,Kazakhstan,48.019573,66.923684,6,1.990018e+07,2.254963e+11,11331.373029,5.09999999973641,8.3188093138288,24.7
27,Lebanon,33.854721,35.862285,2,5.353930e+06,2.099242e+10,3920.936947,-0.6,8.90172832507978,NaN
28,Malaysia,4.210484,101.975766,5,3.430852e+07,4.070275e+11,11863.740913,3.68028218563347,10.8846712054019,38.7
29,Mexico,23.634501,-102.552784,6,1.284556e+08,1.463324e+12,11391.673582,3.22873675559163,13.9003944863246,31.0
30,Netherlands,52.132633,5.291266,7,1.787949e+07,1.009399e+12,56455.683688,0.116008634532122,24.3732188367042,58.0
31,New Zealand,-40.900557,174.885971,1,5.223100e+06,2.467335e+11,47238.904643,0.632242361629224,29.93,47.2
32,Nigeria,9.081999,8.675277,2,2.238046e+08,4.726246e+11,2111.773080,2.86021499108364,6.7,16.9
33,Norway,60.472024,8.468946,4,5.519594e+06,5.937270e+11,107567.144507,0.514118226595343,21.2531867719174,48.8
34,Oman,21.473533,55.975413,1,4.644384e+06,1.146674e+11,24689.465860,1.29999999999998,4.5,26.8
35,Philippines,12.879721,121.774017,4,1.173374e+08,4.043534e+11,3446.074993,5.54585117087767,13.9509857073772,30.7
36,Poland,51.919438,19.145136,5,3.668585e+07,6.897633e+11,18801.890872,0.160586011025046,17.4778155361402,37.5
37,Qatar,25.354826,51.183884,1,2.716391e+06,2.357704e+11,86795.459024,4.2,10,32.9
38,Romania,45.943161,24.966760,3,1.905612e+07,2.988915e+11,15684.807749,2.14847699574527,13.8491001663416,34.1
39,Russia,61.524010,105.318756,74,1.438261e+08,2.266029e+12,15755.337647,3.60000000000001,10.7991186914872,34.3
40,Singapore,1.352083,103.819836,12,5.917648e+06,4.984745e+11,84235.247008,1.07503175095101,12.7315446821269,57.3
41,Slovakia,48.669026,19.699024,2,5.426740e+06,1.155847e+11,21299.112096,1.59645497115139,18.636553592737,34.3
42,South Africa,-30.559482,22.937506,3,6.041450e+07,4.052709e+11,6708.172436,0.601662303103254,22.487256165157,29.8
43,South Korea,35.907757,127.766922,14,5.171262e+07,1.673917e+12,32369.594582,1.35673324311098,14.8612576736336,57.8
44,Spain,40.463667,-3.749220,9,4.837334e+07,1.417800e+12,29309.544958,2.50329435985475,13.5693157344438,44.6
45,Sweden,60.128161,18.643501,13,1.053663e+07,5.904096e+11,56033.995963,-0.196170994604543,26.7287653680492,61.6
46,Switzerland,46.818188,8.227512,15,8.849852e+06,8.184266e+11,92479.122838,0.716066868695833,9.34487114995366,64.6
47,Taiwan,NaN,NaN,22,2.317118e+07,6.881250e+11,29697.446622,2.4,25.2,NaN
48,Thailand,15.870032,100.992541,13,7.180128e+07,4.956452e+11,6903.013677,1.88281746066315,14.457740249559,34.9
49,Türkiye,38.963745,35.243322,14,8.532600e+07,9.071184e+11,10631.207791,4.5168665079849,17.6996920623628,38.1
50,Ukraine,48.379433,31.165580,5,3.700000e+07,1.619895e+11,4378.095155,5.3,19.1514002992876,31.0
51,United Arab Emirates,23.424076,53.847818,1,9.516871e+06,5.070640e+11,53280.533936,3.40385720609487,0.682088274479058,42.1
52,United Kingdom,55.378051,-3.435973,26,6.835000e+07,3.088840e+12,45191.510804,0.104017849159277,24.7719893854834,59.7
53,United States,37.090240,-95.712891,434,3.349149e+08,2.574411e+13,76867.611397,2.54270029878489,10.2112024837089,61.8
54,Uzbekistan,41.377491,64.585262,1,3.641235e+07,8.114082e+10,2228.387436,5.98897580604036,14.7782023187144,25.3
55,Vietnam,14.058324,108.277199,6,9.885895e+07,4.103240e+11,4150.600718,5.04643073618749,11.6,34.3

In [27]:
# Check missing

rows_with_missing = df[df.isnull().any(axis=1)]
rows_with_missing

,country,latitude,longitude,billionaires_count,Population,GDP,GDP per capta,GDP Growth,Tax Revenue,Global Innovation Index
18,Hong Kong,NaN,NaN,21,7536100.0,3.586963e+11,47597.067645,3.21505497011667,14.1,51.8
22,Ireland,NaN,NaN,3,5262382.0,5.331400e+11,101311.537596,-3.1987859599287,16.2000964755069,48.5
27,Lebanon,33.854721,35.862285,2,5353930.0,2.099242e+10,3920.936947,-0.6,8.90172832507978,NaN
47,Taiwan,NaN,NaN,22,23171184.0,6.881250e+11,29697.446622,2.4,25.2,NaN

In [28]:
# Add manually missing

df.loc[df["country"] == "Lebanon", "Global Innovation Index"] = 23.2
#df.loc[df["country"] == "Taiwan", "Global Innovation Index"] = 14.1

rows_with_missing = df[df.isnull().any(axis=1)]
rows_with_missing

,country,latitude,longitude,billionaires_count,Population,GDP,GDP per capta,GDP Growth,Tax Revenue,Global Innovation Index
18,Hong Kong,NaN,NaN,21,7536100.0,3.586963e+11,47597.067645,3.21505497011667,14.1,51.8
22,Ireland,NaN,NaN,3,5262382.0,5.331400e+11,101311.537596,-3.1987859599287,16.2000964755069,48.5
47,Taiwan,NaN,NaN,22,23171184.0,6.881250e+11,29697.446622,2.4,25.2,NaN

## Gini

In [29]:
# Import Gini HDI

df_gini = pd.read_csv("C:/Users/keita/git/DataVis/data/raw/HDR23-24_HDI_Table.csv", usecols=["Country", "HDI_2022", "gini_2010-2022"], decimal = ',')
df_gini.dropna(subset=["HDI_2022", "gini_2010-2022"], inplace=True)
df_gini.rename(columns = {'Country':'country', 'HDI_2022':'HDI', 'gini_2010-2022':'Gini'}, inplace=True)
df_gini["Gini"] = df_gini["Gini"].replace("..", np.nan)
df_gini["Gini"] = df_gini["Gini"].str.replace(",", ".").astype(float)
df_gini['country'] = df_gini['country'].apply(lambda x: coco.convert(names=x, to='name_short'))
df_gini

                      country    HDI  Gini
0                 Switzerland  0.967  33.1
1                      Norway  0.966  27.7
2                     Iceland  0.959  26.1
3                   Hong Kong  0.956  53.9
4                     Denmark  0.952  27.5
..                        ...    ...   ...
191                      Chad  0.394  37.5
192                     Niger  0.394  37.3
193  Central African Republic  0.387  43.0
194               South Sudan  0.381  44.1
195                   Somalia  0.380   NaN

[193 rows x 3 columns]

In [30]:
# Merge Global Innovation Index

df = pd.merge(df, df_gini, on='country', how='left')
df

,country,latitude,longitude,billionaires_count,Population,GDP,GDP per capta,GDP Growth,Tax Revenue,Global Innovation Index,HDI,Gini
0,Algeria,28.033886,1.659626,1,4.560648e+07,2.255603e+11,4945.794032,4.10000000000679,19.0,16.7,0.745,27.6
1,Argentina,-38.416097,-63.616672,4,4.665458e+07,6.311334e+11,13527.790217,-1.55050153620256,8.03863055414871,28.6,0.849,42.0
2,Armenia,40.069099,45.038189,1,2.777970e+06,1.951347e+10,7024.364787,8.7,21.8604192761626,26.6,0.786,27.9
3,Australia,-25.274398,133.775136,24,2.663854e+07,1.692957e+12,63552.897142,3.01698810357014,22.5575154262979,47.1,0.946,34.3
4,Austria,47.516231,14.550072,6,9.132383e+06,4.709419e+11,51568.350424,-0.828815088963225,24.430745420851,50.2,0.926,29.8
5,Belgium,50.503887,4.469936,1,1.182259e+07,5.836140e+11,49364.300317,1.36505523054922,21.1749069343668,46.9,0.942,26.0
6,Brazil,-14.235004,-51.925280,15,2.164224e+08,1.951924e+12,9019.045751,2.90848048667777,12.7193878571982,32.5,0.760,52.9
7,Canada,56.130366,-106.346771,23,4.009776e+07,2.161483e+12,53905.338241,1.06599445256434,13.5033320933869,50.8,0.935,31.7
8,Chile,-35.675147,-71.542969,2,1.962959e+07,3.021165e+11,15390.873646,0.218780666901552,16.1961693332108,34.0,0.860,44.9
9,China,35.861660,104.195397,495,1.410710e+09,1.788178e+13,12675.733061,5.19999999987174,8.09062621607631,55.3,0.788,37.1
10,Colombia,4.570868,-74.297333,1,5.208517e+07,3.453299e+11,6630.100052,0.612181322079849,14.0443530782884,29.2,0.758,51.5
11,Czechia,49.817492,15.472962,6,1.087369e+07,2.905657e+11,26721.902276,-0.311479452106369,14.3669150348801,42.8,0.895,26.2
12,Egypt,26.820553,30.802498,2,1.127166e+08,4.767477e+11,4229.614172,3.75900541919032,14.1,22.7,0.728,31.9
13,Finland,61.924110,25.748151,2,5.584264e+06,2.818874e+11,50478.886886,-1.03537569285423,19.8669960258446,56.9,0.942,27.1
14,France,46.227638,2.213749,14,6.817023e+07,2.779092e+12,40766.949415,0.703718546620237,14.6821253654277,55.0,0.910,30.7
15,Georgia,42.315407,43.356892,1,3.760365e+06,2.498457e+10,6644.187189,7.47447909383303,21.1807829038543,27.9,0.814,34.2
16,Germany,51.165691,10.451526,29,8.448227e+07,4.082469e+12,48323.389461,-0.304934575740816,10.5513363280871,57.2,0.950,31.7
17,Greece,39.074208,21.824312,1,1.036130e+07,2.175813e+11,20999.433421,2.01152094343999,25.3018286297911,34.5,0.893,33.6
18,Hong Kong,NaN,NaN,21,7.536100e+06,3.586963e+11,47597.067645,3.21505497011667,14.1,51.8,0.956,53.9
19,Hungary,47.162494,19.503304,3,9.589872e+06,1.770061e+11,18457.611178,-0.907685956140242,22.6077302439077,39.8,0.851,29.7
20,India,20.593684,78.962880,67,1.428628e+09,3.353470e+12,2347.336947,7.58397112433558,17.7,36.6,0.644,34.2
21,Indonesia,-0.789275,113.921327,14,2.775341e+08,1.319076e+12,4752.843570,5.04810577067288,8.31010524192246,27.9,0.713,37.9
22,Ireland,NaN,NaN,3,5.262382e+06,5.331400e+11,101311.537596,-3.1987859599287,16.2000964755069,48.5,0.950,29.2
23,Israel,31.046051,34.851612,13,9.756700e+06,5.250024e+11,53809.428152,1.99703998799328,21.9053118567727,50.2,0.915,38.6
24,Italy,41.871940,12.567380,22,5.876115e+07,2.066972e+12,35175.830243,0.920692213760276,24.7595801641641,46.1,0.906,35.2
25,Japan,36.204824,138.252924,29,1.245166e+08,4.256411e+12,34183.466715,1.92305553064716,12.31570769025,53.6,0.920,32.9
26,Kazakhstan,48.019573,66.923684,6,1.990018e+07,2.254963e+11,11331.373029,5.09999999973641,8.3188093138288,24.7,0.802,27.8
27,Lebanon,33.854721,35.862285,2,5.353930e+06,2.099242e+10,3920.936947,-0.6,8.90172832507978,23.2,0.723,31.8
28,Malaysia,4.210484,101.975766,5,3.430852e+07,4.070275e+11,11863.740913,3.68028218563347,10.8846712054019,38.7,0.807,41.2
29,Mexico,23.634501,-102.552784,6,1.284556e+08,1.463324e+12,11391.673582,3.22873675559163,13.9003944863246,31.0,0.781,45.4
30,Netherlands,52.132633,5.291266,7,1.787949e+07,1.009399e+12,56455.683688,0.116008634532122,24.3732188367042,58.0,0.946,26.0
31,New Zealand,-40.900557,174.885971,1,5.223100e+06,2.467335e+11,47238.904643,0.632242361629224,29.93,47.2,0.939,33.9
32,Nigeria,9.081999,8.675277,2,2.238046e+08,4.726246e+11,2111.773080,2.86021499108364,6.7,16.9,0.548,35.1
33,Norway,60.472024,8.468946,4,5.519594e+06,5.937270e+11,107567.144507,0.514118226595343,21.2531867719174,48.8,0.966,27.7
34,Oman,21.473533,55.975413,1,4.644384e+06,1.146674e+11,24689.465860,1.29999999999998,4.5,26.8,0.819,55.7
35,Philippines,12.879721,121.774017,4,1.173374e+08,4.043534e+11,3446.074993,5.54585117087767,13.9509857073772,30.7,0.710,40.7
36,Poland,51.919438,19.145136,5,3.668585e+07,6.897633e+11,18801.890872,0.160586011025046,17.4778155361402,37.5,0.881,28.8
37,Qatar,25.354826,51.183884,1,2.716391e+06,2.357704e+11,86795.459024,4.2,10,32.9,0.875,46.2
38,Romania,45.943161,24.966760,3,1.905612e+07,2.988915e+11,15684.807749,2.14847699574527,13.8491001663416,34.1,0.827,34.6
39,Russia,61.524010,105.318756,74,1.438261e+08,2.266029e+12,15755.337647,3.60000000000001,10.7991186914872,34.3,0.821,36.0
40,Singapore,1.352083,103.819836,12,5.917648e+06,4.984745e+11,84235.247008,1.07503175095101,12.7315446821269,57.3,0.949,45.9
41,Slovakia,48.669026,19.699024,2,5.426740e+06,1.155847e+11,21299.112096,1.59645497115139,18.636553592737,34.3,0.855,23.2
42,South Africa,-30.559482,22.937506,3,6.041450e+07,4.052709e+11,6708.172436,0.601662303103254,22.487256165157,29.8,0.717,63.0
43,South Korea,35.907757,127.766922,14,5.171262e+07,1.673917e+12,32369.594582,1.35673324311098,14.8612576736336,57.8,0.929,31.4
44,Spain,40.463667,-3.749220,9,4.837334e+07,1.417800e+12,29309.544958,2.50329435985475,13.5693157344438,44.6,0.911,34.9
45,Sweden,60.128161,18.643501,13,1.053663e+07,5.904096e+11,56033.995963,-0.196170994604543,26.7287653680492,61.6,0.952,28.9
46,Switzerland,46.818188,8.227512,15,8.849852e+06,8.184266e+11,92479.122838,0.716066868695833,9.34487114995366,64.6,0.967,33.1
47,Taiwan,NaN,NaN,22,2.317118e+07,6.881250e+11,29697.446622,2.4,25.2,NaN,NaN,NaN
48,Thailand,15.870032,100.992541,13,7.180128e+07,4.956452e+11,6903.013677,1.88281746066315,14.457740249559,34.9,0.803,35.1
49,Türkiye,38.963745,35.243322,14,8.532600e+07,9.071184e+11,10631.207791,4.5168665079849,17.6996920623628,38.1,0.855,41.9
50,Ukraine,48.379433,31.165580,5,3.700000e+07,1.619895e+11,4378.095155,5.3,19.1514002992876,31.0,0.734,25.6
51,United Arab Emirates,23.424076,53.847818,1,9.516871e+06,5.070640e+11,53280.533936,3.40385720609487,0.682088274479058,42.1,0.937,26.0
52,United Kingdom,55.378051,-3.435973,26,6.835000e+07,3.088840e+12,45191.510804,0.104017849159277,24.7719893854834,59.7,0.940,32.6
53,United States,37.090240,-95.712891,434,3.349149e+08,2.574411e+13,76867.611397,2.54270029878489,10.2112024837089,61.8,0.927,39.8
54,Uzbekistan,41.377491,64.585262,1,3.641235e+07,8.114082e+10,2228.387436,5.98897580604036,14.7782023187144,25.3,0.727,48.6
55,Vietnam,14.058324,108.277199,6,9.885895e+07,4.103240e+11,4150.600718,5.04643073618749,11.6,34.3,0.726,36.8

## Concentration

In [31]:
# Merge and compute concentration

df['Concentration of Billionaires'] = (df['billionaires_count'] / df['Population']) * (10**6)
df

,country,latitude,longitude,billionaires_count,Population,GDP,GDP per capta,GDP Growth,Tax Revenue,Global Innovation Index,HDI,Gini,Concentration of Billionaires
0,Algeria,28.033886,1.659626,1,4.560648e+07,2.255603e+11,4945.794032,4.10000000000679,19.0,16.7,0.745,27.6,0.021927
1,Argentina,-38.416097,-63.616672,4,4.665458e+07,6.311334e+11,13527.790217,-1.55050153620256,8.03863055414871,28.6,0.849,42.0,0.085736
2,Armenia,40.069099,45.038189,1,2.777970e+06,1.951347e+10,7024.364787,8.7,21.8604192761626,26.6,0.786,27.9,0.359975
3,Australia,-25.274398,133.775136,24,2.663854e+07,1.692957e+12,63552.897142,3.01698810357014,22.5575154262979,47.1,0.946,34.3,0.900950
4,Austria,47.516231,14.550072,6,9.132383e+06,4.709419e+11,51568.350424,-0.828815088963225,24.430745420851,50.2,0.926,29.8,0.657003
5,Belgium,50.503887,4.469936,1,1.182259e+07,5.836140e+11,49364.300317,1.36505523054922,21.1749069343668,46.9,0.942,26.0,0.084584
6,Brazil,-14.235004,-51.925280,15,2.164224e+08,1.951924e+12,9019.045751,2.90848048667777,12.7193878571982,32.5,0.760,52.9,0.069309
7,Canada,56.130366,-106.346771,23,4.009776e+07,2.161483e+12,53905.338241,1.06599445256434,13.5033320933869,50.8,0.935,31.7,0.573598
8,Chile,-35.675147,-71.542969,2,1.962959e+07,3.021165e+11,15390.873646,0.218780666901552,16.1961693332108,34.0,0.860,44.9,0.101887
9,China,35.861660,104.195397,495,1.410710e+09,1.788178e+13,12675.733061,5.19999999987174,8.09062621607631,55.3,0.788,37.1,0.350887
10,Colombia,4.570868,-74.297333,1,5.208517e+07,3.453299e+11,6630.100052,0.612181322079849,14.0443530782884,29.2,0.758,51.5,0.019199
11,Czechia,49.817492,15.472962,6,1.087369e+07,2.905657e+11,26721.902276,-0.311479452106369,14.3669150348801,42.8,0.895,26.2,0.551791
12,Egypt,26.820553,30.802498,2,1.127166e+08,4.767477e+11,4229.614172,3.75900541919032,14.1,22.7,0.728,31.9,0.017744
13,Finland,61.924110,25.748151,2,5.584264e+06,2.818874e+11,50478.886886,-1.03537569285423,19.8669960258446,56.9,0.942,27.1,0.358149
14,France,46.227638,2.213749,14,6.817023e+07,2.779092e+12,40766.949415,0.703718546620237,14.6821253654277,55.0,0.910,30.7,0.205368
15,Georgia,42.315407,43.356892,1,3.760365e+06,2.498457e+10,6644.187189,7.47447909383303,21.1807829038543,27.9,0.814,34.2,0.265932
16,Germany,51.165691,10.451526,29,8.448227e+07,4.082469e+12,48323.389461,-0.304934575740816,10.5513363280871,57.2,0.950,31.7,0.343267
17,Greece,39.074208,21.824312,1,1.036130e+07,2.175813e+11,20999.433421,2.01152094343999,25.3018286297911,34.5,0.893,33.6,0.096513
18,Hong Kong,NaN,NaN,21,7.536100e+06,3.586963e+11,47597.067645,3.21505497011667,14.1,51.8,0.956,53.9,2.786587
19,Hungary,47.162494,19.503304,3,9.589872e+06,1.770061e+11,18457.611178,-0.907685956140242,22.6077302439077,39.8,0.851,29.7,0.312830
20,India,20.593684,78.962880,67,1.428628e+09,3.353470e+12,2347.336947,7.58397112433558,17.7,36.6,0.644,34.2,0.046898
21,Indonesia,-0.789275,113.921327,14,2.775341e+08,1.319076e+12,4752.843570,5.04810577067288,8.31010524192246,27.9,0.713,37.9,0.050444
22,Ireland,NaN,NaN,3,5.262382e+06,5.331400e+11,101311.537596,-3.1987859599287,16.2000964755069,48.5,0.950,29.2,0.570084
23,Israel,31.046051,34.851612,13,9.756700e+06,5.250024e+11,53809.428152,1.99703998799328,21.9053118567727,50.2,0.915,38.6,1.332418
24,Italy,41.871940,12.567380,22,5.876115e+07,2.066972e+12,35175.830243,0.920692213760276,24.7595801641641,46.1,0.906,35.2,0.374397
25,Japan,36.204824,138.252924,29,1.245166e+08,4.256411e+12,34183.466715,1.92305553064716,12.31570769025,53.6,0.920,32.9,0.232901
26,Kazakhstan,48.019573,66.923684,6,1.990018e+07,2.254963e+11,11331.373029,5.09999999973641,8.3188093138288,24.7,0.802,27.8,0.301505
27,Lebanon,33.854721,35.862285,2,5.353930e+06,2.099242e+10,3920.936947,-0.6,8.90172832507978,23.2,0.723,31.8,0.373557
28,Malaysia,4.210484,101.975766,5,3.430852e+07,4.070275e+11,11863.740913,3.68028218563347,10.8846712054019,38.7,0.807,41.2,0.145736
29,Mexico,23.634501,-102.552784,6,1.284556e+08,1.463324e+12,11391.673582,3.22873675559163,13.9003944863246,31.0,0.781,45.4,0.046709
30,Netherlands,52.132633,5.291266,7,1.787949e+07,1.009399e+12,56455.683688,0.116008634532122,24.3732188367042,58.0,0.946,26.0,0.391510
31,New Zealand,-40.900557,174.885971,1,5.223100e+06,2.467335e+11,47238.904643,0.632242361629224,29.93,47.2,0.939,33.9,0.191457
32,Nigeria,9.081999,8.675277,2,2.238046e+08,4.726246e+11,2111.773080,2.86021499108364,6.7,16.9,0.548,35.1,0.008936
33,Norway,60.472024,8.468946,4,5.519594e+06,5.937270e+11,107567.144507,0.514118226595343,21.2531867719174,48.8,0.966,27.7,0.724691
34,Oman,21.473533,55.975413,1,4.644384e+06,1.146674e+11,24689.465860,1.29999999999998,4.5,26.8,0.819,55.7,0.215314
35,Philippines,12.879721,121.774017,4,1.173374e+08,4.043534e+11,3446.074993,5.54585117087767,13.9509857073772,30.7,0.710,40.7,0.034090
36,Poland,51.919438,19.145136,5,3.668585e+07,6.897633e+11,18801.890872,0.160586011025046,17.4778155361402,37.5,0.881,28.8,0.136292
37,Qatar,25.354826,51.183884,1,2.716391e+06,2.357704e+11,86795.459024,4.2,10,32.9,0.875,46.2,0.368136
38,Romania,45.943161,24.966760,3,1.905612e+07,2.988915e+11,15684.807749,2.14847699574527,13.8491001663416,34.1,0.827,34.6,0.157430
39,Russia,61.524010,105.318756,74,1.438261e+08,2.266029e+12,15755.337647,3.60000000000001,10.7991186914872,34.3,0.821,36.0,0.514510
40,Singapore,1.352083,103.819836,12,5.917648e+06,4.984745e+11,84235.247008,1.07503175095101,12.7315446821269,57.3,0.949,45.9,2.027833
41,Slovakia,48.669026,19.699024,2,5.426740e+06,1.155847e+11,21299.112096,1.59645497115139,18.636553592737,34.3,0.855,23.2,0.368545
42,South Africa,-30.559482,22.937506,3,6.041450e+07,4.052709e+11,6708.172436,0.601662303103254,22.487256165157,29.8,0.717,63.0,0.049657
43,South Korea,35.907757,127.766922,14,5.171262e+07,1.673917e+12,32369.594582,1.35673324311098,14.8612576736336,57.8,0.929,31.4,0.270727
44,Spain,40.463667,-3.749220,9,4.837334e+07,1.417800e+12,29309.544958,2.50329435985475,13.5693157344438,44.6,0.911,34.9,0.186053
45,Sweden,60.128161,18.643501,13,1.053663e+07,5.904096e+11,56033.995963,-0.196170994604543,26.7287653680492,61.6,0.952,28.9,1.233791
46,Switzerland,46.818188,8.227512,15,8.849852e+06,8.184266e+11,92479.122838,0.716066868695833,9.34487114995366,64.6,0.967,33.1,1.694944
47,Taiwan,NaN,NaN,22,2.317118e+07,6.881250e+11,29697.446622,2.4,25.2,NaN,NaN,NaN,0.949455
48,Thailand,15.870032,100.992541,13,7.180128e+07,4.956452e+11,6903.013677,1.88281746066315,14.457740249559,34.9,0.803,35.1,0.181055
49,Türkiye,38.963745,35.243322,14,8.532600e+07,9.071184e+11,10631.207791,4.5168665079849,17.6996920623628,38.1,0.855,41.9,0.164077
50,Ukraine,48.379433,31.165580,5,3.700000e+07,1.619895e+11,4378.095155,5.3,19.1514002992876,31.0,0.734,25.6,0.135135
51,United Arab Emirates,23.424076,53.847818,1,9.516871e+06,5.070640e+11,53280.533936,3.40385720609487,0.682088274479058,42.1,0.937,26.0,0.105077
52,United Kingdom,55.378051,-3.435973,26,6.835000e+07,3.088840e+12,45191.510804,0.104017849159277,24.7719893854834,59.7,0.940,32.6,0.380395
53,United States,37.090240,-95.712891,434,3.349149e+08,2.574411e+13,76867.611397,2.54270029878489,10.2112024837089,61.8,0.927,39.8,1.295852
54,Uzbekistan,41.377491,64.585262,1,3.641235e+07,8.114082e+10,2228.387436,5.98897580604036,14.7782023187144,25.3,0.727,48.6,0.027463
55,Vietnam,14.058324,108.277199,6,9.885895e+07,4.103240e+11,4150.600718,5.04643073618749,11.6,34.3,0.726,36.8,0.060693

## Manage missing

In [32]:
# Check missing

rows_with_missing = df[df.isnull().any(axis=1)]
rows_with_missing

,country,latitude,longitude,billionaires_count,Population,GDP,GDP per capta,GDP Growth,Tax Revenue,Global Innovation Index,HDI,Gini,Concentration of Billionaires
18,Hong Kong,NaN,NaN,21,7536100.0,3.586963e+11,47597.067645,3.21505497011667,14.1,51.8,0.956,53.9,2.786587
22,Ireland,NaN,NaN,3,5262382.0,5.331400e+11,101311.537596,-3.1987859599287,16.2000964755069,48.5,0.950,29.2,0.570084
47,Taiwan,NaN,NaN,22,23171184.0,6.881250e+11,29697.446622,2.4,25.2,NaN,NaN,NaN,0.949455

In [33]:
# Honk kong
df.loc[df["country"] == "Hong Kong", "latitude"] = 22.302711
df.loc[df["country"] == "Hong Kong", "longitude"] = 114.177216

# Ireland
df.loc[df["country"] == "Ireland", "latitude"] = 53.350140
df.loc[df["country"] == "Ireland", "longitude"] = -6.266155

# Taiwan
df.loc[df["country"] == "Taiwan", "latitude"] = 25.105497
df.loc[df["country"] == "Taiwan", "longitude"] = 121.597366
df.loc[df["country"] == "Taiwan", "Global Innovation Index"] = 51.8
df.loc[df["country"] == "Taiwan", "HDI"] = 0.880
df.loc[df["country"] == "Taiwan", "Gini"] = 34.1

rows_with_missing = df[df.isnull().any(axis=1)]
rows_with_missing

Empty DataFrame
Columns: [country, latitude, longitude, billionaires_count, Population, GDP, GDP per capta, GDP Growth, Tax Revenue, Global Innovation Index, HDI, Gini, Concentration of Billionaires]
Index: []

In [34]:
# Data conversion
df["Population"] = df["Population"].astype(int)
df["Tax Revenue"] = df["Tax Revenue"].astype(float)
df["GDP"] = df["GDP"].astype(float)
df["GDP Growth"] = df["GDP Growth"].astype(float)
df["Global Innovation Index"] = df["Global Innovation Index"].astype(float)
df["HDI"] = df["HDI"].astype(float)
df["Gini"] = df["Gini"].astype(float)

df.dtypes

country                           object
latitude                         float64
longitude                        float64
billionaires_count                 int64
Population                         int64
GDP                              float64
GDP per capta                    float64
GDP Growth                       float64
Tax Revenue                      float64
Global Innovation Index          float64
HDI                              float64
Gini                             float64
Concentration of Billionaires    float64
dtype: object

In [35]:
df

,country,latitude,longitude,billionaires_count,Population,GDP,GDP per capta,GDP Growth,Tax Revenue,Global Innovation Index,HDI,Gini,Concentration of Billionaires
0,Algeria,28.033886,1.659626,1,45606480,2.255603e+11,4945.794032,4.100000,19.000000,16.7,0.745,27.6,0.021927
1,Argentina,-38.416097,-63.616672,4,46654581,6.311334e+11,13527.790217,-1.550502,8.038631,28.6,0.849,42.0,0.085736
2,Armenia,40.069099,45.038189,1,2777970,1.951347e+10,7024.364787,8.700000,21.860419,26.6,0.786,27.9,0.359975
3,Australia,-25.274398,133.775136,24,26638544,1.692957e+12,63552.897142,3.016988,22.557515,47.1,0.946,34.3,0.900950
4,Austria,47.516231,14.550072,6,9132383,4.709419e+11,51568.350424,-0.828815,24.430745,50.2,0.926,29.8,0.657003
5,Belgium,50.503887,4.469936,1,11822592,5.836140e+11,49364.300317,1.365055,21.174907,46.9,0.942,26.0,0.084584
6,Brazil,-14.235004,-51.925280,15,216422446,1.951924e+12,9019.045751,2.908480,12.719388,32.5,0.760,52.9,0.069309
7,Canada,56.130366,-106.346771,23,40097761,2.161483e+12,53905.338241,1.065994,13.503332,50.8,0.935,31.7,0.573598
8,Chile,-35.675147,-71.542969,2,19629590,3.021165e+11,15390.873646,0.218781,16.196169,34.0,0.860,44.9,0.101887
9,China,35.861660,104.195397,495,1410710000,1.788178e+13,12675.733061,5.200000,8.090626,55.3,0.788,37.1,0.350887
10,Colombia,4.570868,-74.297333,1,52085168,3.453299e+11,6630.100052,0.612181,14.044353,29.2,0.758,51.5,0.019199
11,Czechia,49.817492,15.472962,6,10873689,2.905657e+11,26721.902276,-0.311479,14.366915,42.8,0.895,26.2,0.551791
12,Egypt,26.820553,30.802498,2,112716598,4.767477e+11,4229.614172,3.759005,14.100000,22.7,0.728,31.9,0.017744
13,Finland,61.924110,25.748151,2,5584264,2.818874e+11,50478.886886,-1.035376,19.866996,56.9,0.942,27.1,0.358149
14,France,46.227638,2.213749,14,68170228,2.779092e+12,40766.949415,0.703719,14.682125,55.0,0.910,30.7,0.205368
15,Georgia,42.315407,43.356892,1,3760365,2.498457e+10,6644.187189,7.474479,21.180783,27.9,0.814,34.2,0.265932
16,Germany,51.165691,10.451526,29,84482267,4.082469e+12,48323.389461,-0.304935,10.551336,57.2,0.950,31.7,0.343267
17,Greece,39.074208,21.824312,1,10361295,2.175813e+11,20999.433421,2.011521,25.301829,34.5,0.893,33.6,0.096513
18,Hong Kong,22.302711,114.177216,21,7536100,3.586963e+11,47597.067645,3.215055,14.100000,51.8,0.956,53.9,2.786587
19,Hungary,47.162494,19.503304,3,9589872,1.770061e+11,18457.611178,-0.907686,22.607730,39.8,0.851,29.7,0.312830
20,India,20.593684,78.962880,67,1428627663,3.353470e+12,2347.336947,7.583971,17.700000,36.6,0.644,34.2,0.046898
21,Indonesia,-0.789275,113.921327,14,277534122,1.319076e+12,4752.843570,5.048106,8.310105,27.9,0.713,37.9,0.050444
22,Ireland,53.350140,-6.266155,3,5262382,5.331400e+11,101311.537596,-3.198786,16.200096,48.5,0.950,29.2,0.570084
23,Israel,31.046051,34.851612,13,9756700,5.250024e+11,53809.428152,1.997040,21.905312,50.2,0.915,38.6,1.332418
24,Italy,41.871940,12.567380,22,58761146,2.066972e+12,35175.830243,0.920692,24.759580,46.1,0.906,35.2,0.374397
25,Japan,36.204824,138.252924,29,124516650,4.256411e+12,34183.466715,1.923056,12.315708,53.6,0.920,32.9,0.232901
26,Kazakhstan,48.019573,66.923684,6,19900177,2.254963e+11,11331.373029,5.100000,8.318809,24.7,0.802,27.8,0.301505
27,Lebanon,33.854721,35.862285,2,5353930,2.099242e+10,3920.936947,-0.600000,8.901728,23.2,0.723,31.8,0.373557
28,Malaysia,4.210484,101.975766,5,34308525,4.070275e+11,11863.740913,3.680282,10.884671,38.7,0.807,41.2,0.145736
29,Mexico,23.634501,-102.552784,6,128455567,1.463324e+12,11391.673582,3.228737,13.900394,31.0,0.781,45.4,0.046709
30,Netherlands,52.132633,5.291266,7,17879488,1.009399e+12,56455.683688,0.116009,24.373219,58.0,0.946,26.0,0.391510
31,New Zealand,-40.900557,174.885971,1,5223100,2.467335e+11,47238.904643,0.632242,29.930000,47.2,0.939,33.9,0.191457
32,Nigeria,9.081999,8.675277,2,223804632,4.726246e+11,2111.773080,2.860215,6.700000,16.9,0.548,35.1,0.008936
33,Norway,60.472024,8.468946,4,5519594,5.937270e+11,107567.144507,0.514118,21.253187,48.8,0.966,27.7,0.724691
34,Oman,21.473533,55.975413,1,4644384,1.146674e+11,24689.465860,1.300000,4.500000,26.8,0.819,55.7,0.215314
35,Philippines,12.879721,121.774017,4,117337368,4.043534e+11,3446.074993,5.545851,13.950986,30.7,0.710,40.7,0.034090
36,Poland,51.919438,19.145136,5,36685849,6.897633e+11,18801.890872,0.160586,17.477816,37.5,0.881,28.8,0.136292
37,Qatar,25.354826,51.183884,1,2716391,2.357704e+11,86795.459024,4.200000,10.000000,32.9,0.875,46.2,0.368136
38,Romania,45.943161,24.966760,3,19056116,2.988915e+11,15684.807749,2.148477,13.849100,34.1,0.827,34.6,0.157430
39,Russia,61.524010,105.318756,74,143826130,2.266029e+12,15755.337647,3.600000,10.799119,34.3,0.821,36.0,0.514510
40,Singapore,1.352083,103.819836,12,5917648,4.984745e+11,84235.247008,1.075032,12.731545,57.3,0.949,45.9,2.027833
41,Slovakia,48.669026,19.699024,2,5426740,1.155847e+11,21299.112096,1.596455,18.636554,34.3,0.855,23.2,0.368545
42,South Africa,-30.559482,22.937506,3,60414495,4.052709e+11,6708.172436,0.601662,22.487256,29.8,0.717,63.0,0.049657
43,South Korea,35.907757,127.766922,14,51712619,1.673917e+12,32369.594582,1.356733,14.861258,57.8,0.929,31.4,0.270727
44,Spain,40.463667,-3.749220,9,48373336,1.417800e+12,29309.544958,2.503294,13.569316,44.6,0.911,34.9,0.186053
45,Sweden,60.128161,18.643501,13,10536632,5.904096e+11,56033.995963,-0.196171,26.728765,61.6,0.952,28.9,1.233791
46,Switzerland,46.818188,8.227512,15,8849852,8.184266e+11,92479.122838,0.716067,9.344871,64.6,0.967,33.1,1.694944
47,Taiwan,25.105497,121.597366,22,23171184,6.881250e+11,29697.446622,2.400000,25.200000,51.8,0.880,34.1,0.949455
48,Thailand,15.870032,100.992541,13,71801279,4.956452e+11,6903.013677,1.882817,14.457740,34.9,0.803,35.1,0.181055
49,Türkiye,38.963745,35.243322,14,85326000,9.071184e+11,10631.207791,4.516867,17.699692,38.1,0.855,41.9,0.164077
50,Ukraine,48.379433,31.165580,5,37000000,1.619895e+11,4378.095155,5.300000,19.151400,31.0,0.734,25.6,0.135135
51,United Arab Emirates,23.424076,53.847818,1,9516871,5.070640e+11,53280.533936,3.403857,0.682088,42.1,0.937,26.0,0.105077
52,United Kingdom,55.378051,-3.435973,26,68350000,3.088840e+12,45191.510804,0.104018,24.771989,59.7,0.940,32.6,0.380395
53,United States,37.090240,-95.712891,434,334914895,2.574411e+13,76867.611397,2.542700,10.211202,61.8,0.927,39.8,1.295852
54,Uzbekistan,41.377491,64.585262,1,36412350,8.114082e+10,2228.387436,5.988976,14.778202,25.3,0.727,48.6,0.027463
55,Vietnam,14.058324,108.277199,6,98858950,4.103240e+11,4150.600718,5.046431,11.600000,34.3,0.726,36.8,0.060693

## To csv

In [36]:
# To csv
df.to_csv("C:/Users/keita/git/DataVis/data/processed/countries.csv", index= False)