In [1]:
import pandas as pd
import numpy as np

from dotenv import load_dotenv

load_dotenv()

True

In [2]:
# Import dataset gender, age, industries
df = pd.read_csv("C:/Users/keita/git/DataVis/data/raw/billionaires.csv", usecols=["personName", "age", "industries", "gender"])
df

                  personName   age             industries gender
0                  Elon Musk  51.0             Automotive      M
1                 Jeff Bezos  59.0             Technology      M
2              Larry Ellison  78.0             Technology      M
3             Warren Buffett  92.0  Finance & Investments      M
4                 Bill Gates  67.0             Technology      M
...                      ...   ...                    ...    ...
1807               Yan Junxu  53.0          Manufacturing      M
1808   Yi Xianzhong & family  63.0             Healthcare      M
1809                 Yu Rong  51.0             Healthcare      M
1810           Zhang Gongyun  60.0          Manufacturing      M
1811  Zhang Guiping & family  71.0            Real Estate      M

[1812 rows x 4 columns]

In [3]:
# To csv
df.to_csv("C:/Users/keita/git/DataVis/data/processed/billionaires.csv", index= False)