In [1]:
import pandas as pd
import numpy as np

from dotenv import load_dotenv

load_dotenv()

True

In [2]:
# Import dataset gender, age, industries
df = pd.read_csv("../data/raw/billionaires.csv", usecols=["personName", "age", "industries", "gender"])
df

                  personName   age             industries gender
0                 Jeff Bezos  59.0             Technology      M
1              Larry Ellison  78.0             Technology      M
2             Warren Buffett  92.0  Finance & Investments      M
3                 Bill Gates  67.0             Technology      M
4          Michael Bloomberg  81.0  Media & Entertainment      M
...                      ...   ...                    ...    ...
1506               Yan Junxu  53.0          Manufacturing      M
1507   Yi Xianzhong & family  63.0             Healthcare      M
1508                 Yu Rong  51.0             Healthcare      M
1509           Zhang Gongyun  60.0          Manufacturing      M
1510  Zhang Guiping & family  71.0            Real Estate      M

[1511 rows x 4 columns]

In [3]:
# Missing
rows_with_missing = df[df.isnull().any(axis=1)]
rows_with_missing

           personName  age             industries gender
282   Marcos Galperin  NaN             Technology      M
679        Pan Laican  NaN        Food & Beverage      M
705      Jianping Lai  NaN        Food & Beverage      M
706         Li Haiyan  NaN        Food & Beverage      F
782      Lam Wai-ying  NaN          Manufacturing      F
786        Melissa Ma  NaN             Technology      F
853   Chen Qiongxiang  NaN                 Energy      F
874    Shao Jianxiong  NaN                 Energy      M
937      Chen Kaichen  NaN          Manufacturing      M
958             Lu Di  NaN             Technology      M
1103         Tan Lili  NaN        Food & Beverage      F
1105         Tang Rui  NaN             Technology      M
1118       Xu Zhenhua  NaN  Media & Entertainment      M
1122      Justin Yuan  NaN  Media & Entertainment      M
1124       Zhang Hong  NaN                 Energy      F
1244     Charlwin Mao  NaN       Fashion & Retail      M
1280      Zong Yanmin  NaN          Manufacturing      M
1347        Wang Fuji  NaN             Healthcare      M
1377      Cai Hongbin  NaN             Healthcare      M
1394   Cristina Green  NaN       Fashion & Retail      F
1395     Philip Green  NaN       Fashion & Retail      M
1492     RÃ©al Plourde  NaN       Fashion & Retail      M

In [4]:
# Fill missing
df.loc[282, "age"] = 52
df.loc[1394, "age"] = 74
df.loc[1395, "age"] = 72

In [5]:
mean_age = int(df["age"].mean())
df['age'] = df['age'].fillna(mean_age)
rows_with_missing = df[df.isnull().any(axis=1)]
rows_with_missing

Empty DataFrame
Columns: [personName, age, industries, gender]
Index: []

In [6]:
df['age'] = df['age'].astype(int)

In [7]:
df.dtypes

personName    object
age            int64
industries    object
gender        object
dtype: object

In [8]:
# To csv
df.to_csv("C:/Users/keita/git/DataVis/data/processed/billionaires.csv", index= False)